.wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border: 3px solid blue;
    margin-bottom: 10px;
    border-radius: 20px;
}
@media screen and (min-width:768px){
    .wrap{
        flex-direction: row;
        justify-content: center;
    }
    .box{
        border-radius: 50%;
        margin-right: 10px;
    }
}
@media all and (min-width:1200px){
    .box{
        border-radius: 20px;
    }
}